@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-font: 'Roboto', sans-serif;
$primary-color: #007EA7;
$secondary-color: #ffffff;

$light-background-color: #e4e4e4;
$dark-background-color: #dbdbdb;
$home-background-gradient: linear-gradient(to right, $light-background-color, $dark-background-color);