@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-font: 'Roboto', sans-serif;
$primary-color: #ffffff;
$secondary-color: #ff961d;

$light-background-color: #2b2b2b;
$dark-background-color: #0e0e0e;
$home-background-gradient: linear-gradient(to right, $light-background-color, $dark-background-color);