.chat-box-main-container {
  .chat-box-inner-container {
    height: 300px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
