@use "../helpers/variables" as v;

.chat-minimized-box-main-container {
  padding: 3px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 1200;
  background: linear-gradient(to bottom, v.$blue-dark, v.$blue-very-dark);
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: v.$blue-dark;
  color: v.$white;

  .chat-minimized-options-top-big-container {
    border-radius: 15px 15px 0px 0px;
    background-color: v.$blue-very-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .chat-minimized-options-top-small-container-left {
      margin: 10px;
      width: 40px;
      color: v.$blue-medium;
    }

    .chat-minimized-options-top-small-container-right {
      margin: 10px;
      width: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: v.$blue-medium;
    }
  }

  .chat-minimized-inner-container {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    word-wrap: break-word;
    height: 100%;
    gap: 10px;

    .chat-minimized-inner-container-user-nick {
      font-weight: bold;
    }
  }
}
