.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: $secondary-color;
  color: $primary-color;

  .title {
    font-size: 52px;
    color: white;
  }

  .logout-button {
    position: absolute;
    top: 25px;
    right: 25px;
  }
}