@use '../helpers/variables' as v;

body {
    font-family: v.$primary-font;
    color: v.$primary-color;
    margin: 0;
    padding: 0;
    background: v.$home-background-gradient;
}

h1 {
    text-align: center;
    font-size: 44px;
}