@use '../helpers/variables' as v;

.caretaker-form-container {
  max-width: 800px;
  margin: 5vh auto;
  padding: 20px;
  background-color: v.$white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
