@use "../helpers/variables" as v;

.cares-container {
  margin: 3vh auto;
  gap: 3vh;

  h1 {
    color: v.$white;
  }
}
.cares-list-container {
  max-width: 1000px;
  margin: 3vh auto;
  gap: 3vh;

  h1 {
    color: v.$white;
  }
}

.cares-filters-section {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 10px;
}

.cares-filters {
  min-width: 200px;
}

.cares-selected-filters {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 10px;

  flex-wrap: wrap;

  .care-list-daily-price {
    width: 200px;
  }

  .care-list-date {
    width: 200px;
  }
}

.ant-input-group-addon {
  color: v.$white !important;
  background-color: v.$blue-medium !important;
}

.cares-title {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.cares-list {
  margin: 0 auto;
  border-radius: 8px;

  gap: 20px;

  .item {
    background-color: v.$white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;

    @media (max-width: 576px) {
      padding-top: 40px;
    }
  }

  @media (max-width: 1024px) {
    width: 90%;
  }

  .animal-image {
    width: 100px;
    border-radius: 5%;

    @media (max-width: 576px) {
      display: none;
    }
  }
}
