@use '../helpers/variables' as v;

.caretaker-search {
  width: 90vw;
  margin: 5vh auto;
  padding: 20px;
  border-radius: 8px;
  
  .filters {
    display: flex;
    align-items: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    height: min-content;
  }

  .input-field, .button-search {
    height: 40px;
  }

  .caretaker-list-item {
    display: flex;
    align-items: center;
  }

  .caretaker-list-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .caretaker-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  .caretaker-rating-stars {
    display: flex;
    gap: 5px;
  }

  .caretaker-rating-value {
    margin-left: 8px;
  }

  .input-field {
    width: 200px;
    margin-right: 20px;
  }

  .button-search {
    margin-left: 20px;
  }
}
