@use "../helpers/variables" as v;
@use "../components/buttons" as b;

.offer-management-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;

  .offer-management-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: v.$white;

    .offer-management-buttons {
      @media (max-width: 500px) {
        flex-direction: column;
      }
    }
  }

  .offers-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-inline: 10px;
    height: 100%;
    gap: 20px;

    @media (max-width: 780px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .no-offers-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.offer-modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-x: auto;
  padding: 10px;
}

.offer-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    font-weight: bold;
    display: flex;
    justify-content: left;
    gap: 10px;
  }

  .value {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.offer-configurations {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .ant-form-item {
    margin-bottom: 0;
  }
}

.offer-modal-title {
  text-align: center;
  font-size: 1.5rem;
}

.set-availability-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer-card {
  width: 400px !important;

  @media (max-width: 500px) {
    width: 320px !important;
  }
}
