@use "../helpers/variables" as v;
@use "../components/buttons" as b;

.offer-management-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .offer-management-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .add-offer-button {
    @extend .submit-button;

  }
}

.offer-modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offer-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  .label {
    font-weight: bold;
    display: flex;
    justify-content: left;
    gap: 10px;
  }

  .value {
    font-weight: normal;
  }
}

.ant-card-actions {
  display: flex;
}

.ant-card-actions > li {
  flex: 1;
}
.action-larger {
  flex-grow: 3; /* Ta akcja zajmuje więcej miejsca */
  text-align: center; /* Centruj tekst */
}

.action-smaller {
  flex-grow: 1; /* Ta akcja zajmuje mniej miejsca */
  text-align: center; /* Centruj tekst */
}