@use "../helpers/variables" as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$white;
  padding: 0 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;

  .logo {
    cursor: pointer;
  }

  .right-corner {
    display: flex;
    align-items: center;
    gap: 20px;

    .language-switcher {
      cursor: pointer;
      color: v.$blue-dark;

      &:hover {
        color: v.$blue-light;
      }
    }

    .notification-badge {
      cursor: pointer;
      width: 23px;
      height: 23px;
      color: v.$blue-dark;

      &:hover {
        color: v.$blue-light;
      }
    }
  }

  .menu-desktop {
    display: block;
  }

  .menu-mobile {
    display: none;
  }

  @media (max-width: 1024px) {
    padding: 0 20px;

    .menu-desktop {
      display: none;
    }

    .menu-mobile {
      display: block;
      position: absolute;
      left: 20px; /* Align hamburger menu to the left */
      top: 4px; /* Center it vertically within the header */
    }

    .logo {
      margin-left: 40px;
    }

    .auth-button {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    padding: 0 5px;

    .right-corner {
      gap: 15px;
    }

    .auth-button {
      font-size: 11px;
    }

    .menu-mobile {
      left: 5px;
    }

    .logo {
      margin-left: 30px;
    }
  }
}
