@use '../helpers/variables' as v;

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: v.$blue-medium;
  color: v.$white;

  display: flex;
  align-items: center;

  .title {
    font-size: 3rem;
    color: white;
    margin: auto;

    &:hover {
      cursor: pointer;
    }
  }

  .right-corner {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    gap: 20px;
  }
}